<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Tree</a>
        </div>
        <div class="collapse navbar-collapse text-center">
            <ul class="nav navbar-nav text-left">
                <li class="dropdown" data-ng-if="current.tag_name">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span data-ng-bind="current.tag_name"></span>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="tag in ['HEAD'].concat(current.project.tags)">
                            <a href="javascript:void(0)" data-ng-click="set_current_tag(tag)" data-ng-bind="tag"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#new-tag-dialog">Create New Tag ...</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#tag-diff-dialog">Diff with ...</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-ng-if="has_sections()">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="'section-level-'+section.level" data-ng-repeat="section in current_sections()">
                            <a data-ng-href="#section-{{section.id}}" data-ng-bind="section.text"></a>
                        </li>
                    </ul>
                </li>
                <li data-ng-if="current.project && current.tag_name"><a title="Search in current project" href="javascript:void(0)" class="glyphicon glyphicon-search" data-toggle="modal" data-target="#project-search-dialog"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right text-left">
                <li class="dropdown" data-ng-if="current.project">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span data-ng-bind="current.project.name"></span>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="project in projects">
                            <a href="javascript:void(0)" data-ng-click="set_current_project(project.name)" data-ng-bind="project.name"></a>
                        </li>
                    </ul>
                </li>
                <li><a title="Add new project" href="javascript:void(0)" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#new-project-dialog"></a></li>
                <li data-ng-if="is_full_mode()">
                    <a title="Set Split Mode" href="javascript:void(0)" class="glyphicon glyphicon-list" data-ng-click="set_split_mode()"></a>
                </li>
                <li data-ng-if="!is_full_mode()">
                    <a title="Set Full Mode" href="javascript:void(0)" class="glyphicon glyphicon-align-justify" data-ng-click="set_full_mode()"></a>
                </li>
                <li><a title="Configuration" href="javascript:void(0)" class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#key-config-dialog"></a></li>
                <li><a title="Help" href="javascript:void(0)" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#project-help-dialog"  data-ng-if="current.project"></a></li>
            </ul>
            <h3 data-ng-if="loading()" class="display: inline-block;"><img src="/img/loading.gif" alt="loading" height="20" /></h3>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container main-container" data-ui-view></div>
<div data-ng-include src="'/templates/modals.html'"></div>
