<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Tree</a>
        </div>
        <div class="collapse navbar-collapse text-center">
            <ul class="nav navbar-nav text-left">
                <li class="dropdown" data-ng-if="current.tag_name">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span data-ng-bind="current.tag_name"></span>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="tag in ['HEAD'].concat(current.project.tags)">
                            <a href="javascript:void(0)" data-ng-click="set_current_tag(tag)" data-ng-bind="tag"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#new-tag-dialog">Create New Tag ...</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#tag-diff-dialog">Diff with ...</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-ng-if="current.sections && current.sections.length > 1">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="'section-level-'+section.level" data-ng-repeat="section in current.sections">
                            <a data-ng-href="#section-{{section.id}}" data-ng-bind="section.text"></a>
                        </li>
                    </ul>
                </li>
                <li data-ng-if="current.project && current.tag_name"><a title="Search in current project" href="javascript:void(0)" class="glyphicon glyphicon-search" data-toggle="modal" data-target="#project-search"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right text-left">
                <li class="dropdown" data-ng-if="current.project">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span data-ng-bind="current.project.name"></span>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="project in projects">
                            <a href="javascript:void(0)" data-ng-click="set_current_project(project.name)" data-ng-bind="project.name"></a>
                        </li>
                    </ul>
                </li>
                <li><a title="Add new project" href="javascript:void(0)" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#project-config"></a></li>
                <li data-ng-if="is_full_mode()">
                    <a title="Set Split Mode" href="javascript:void(0)" class="glyphicon glyphicon-list" data-ng-click="set_split_mode()"></a>
                </li>
                <li data-ng-if="!is_full_mode()">
                    <a title="Set Full Mode" href="javascript:void(0)" class="glyphicon glyphicon-align-justify" data-ng-click="set_full_mode()"></a>
                </li>
                <li><a title="Configuration" href="javascript:void(0)" class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#key-dialog"></a></li>
                <li><a title="Help" href="javascript:void(0)" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#project-help"  data-ng-if="current.project"></a></li>
            </ul>
            <h3 data-ng-if="current.loading > 0" class="display: inline-block;"><img src="/img/loading.gif" alt="loading" height="20" /></h3>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container main-container" data-ui-view></div>

<div class="modal fade" id="project-config">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Project</h4>
            </div>
            <form name="project_config">
                <div class="modal-body">
                    <div data-ng-if="!current.config_dialog.cloning">
                        <div class="input-group project-config-text-input">
                            <span class="input-group-addon">Project</span>
                            <input type="text" autofocus class="form-control" name="project_name" data-uniq-project data-ng-model="current.config_dialog.name" data-required data-ng-maxlength="30" placeholder="e.g. Bifrost" data-ng-pattern="/^[\w\s\-]+$/" />
                            <span class="input-group-addon">Branch</span>
                            <input type="text" class="form-control" name="branch_name" data-ng-model="current.config_dialog.branch" data-required data-ng-maxlength="30" placeholder="e.g. master" />
                        </div>
                        <div class="input-group project-config-text-input">
                            <span class="input-group-addon">Git</span>
                            <input type="text" class="form-control" name="git_url" data-ng-model="current.config_dialog.url" data-required placeholder="e.g. https://mozy@gerrit.dechocorp.com:29418/bifrost.git" data-ng-maxlength="255" data-ng-pattern="/^((?:http|https|ssh):\/\/[^\/:.]+\.[^\/:]+(:\d+)?\/\w+|([^@:]+(:[^@]+)?@)?[^\/:.]+\.[^\/:]+(:\w+)?)/" />
                            <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="create_new_repo()">New Repo</span>
                        </div>
                    </div>
                    <div class="progress progress-striped active" data-ng-if="current.config_dialog.cloning">
                        <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">Git cloning...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-ng-disabled="current.config_dialog.cloning" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-ng-disabled="current.config_dialog.cloning || project_config.$invalid" data-ng-click="submit_config()">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="new-tag-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Tag</h4>
      </div>
      <div class="modal-body">
        <form name="new_tag_dialog">
            <div class="input-group project-config-text-input" data-ng-if="!current.new_tag_dialog.pushing">
                <span class="input-group-addon">Tag</span>
                <input autofocus type="text" class="form-control" name="tag_name" data-ng-model="current.new_tag_dialog.tag_name" data-required data-ng-maxlength="20" data-uniq-tag />
            </div>
            <div class="progress progress-striped active" data-ng-if="current.new_tag_dialog.pushing">
                <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">Tag pushing...</span>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="add_tag()" data-ng-disabled="current.new_tag_dialog.pushing || new_tag_dialog.$invalid">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="project-search">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" data-ng-if="!current.searchbar.searching">
        <form role="search">
            <div class="input-group">
              <input type="text" autofocus class="form-control query-text" placeholder="Search ..." data-ng-model="current.searchbar.query" data-ng-keypress="keypress_in_query($event)" name="query_text">
              <span class="input-group-addon"><a href="javascript:void(0)" data-ng-click="search()" class="glyphicon glyphicon-search"></a></span>
            </div>
        </form>
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item" data-ng-repeat="result in current.searchbar.results.both" data-ng-click="open_path(result)"><span class="badge">Name</span><span class="badge">Content</span><span data-ng-bind="result"></span></a>
            <a href="javascript:void(0)" class="list-group-item" data-ng-repeat="result in current.searchbar.results.filenames" data-ng-click="open_path(result)"><span class="badge">Name</span><span data-ng-bind="result"></span></a>
            <a href="javascript:void(0)" class="list-group-item" data-ng-repeat="result in current.searchbar.results.content" data-ng-click="open_path(result)"><span class="badge">Content</span><span data-ng-bind="result"></span></a>
        </div>
      </div>
      <div class="modal-body" data-ng-if="current.searchbar.searching">
        <div class="progress progress-striped active">
            <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">Searching...</span>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="project-help">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" data-ng-if="current.project">
            <h3>To edit wiki for this project, please:</h3>
            <pre>
git clone &quot;<span data-ng-bind="current.project.url"></span>&quot;
git checkout <span data-ng-bind="current.project.branch"></span>
# Edit something in your faviorite editor ...
git add --all .
git commit
git push origin <span data-ng-bind="current.project.branch"></span>
# Refresh current page and you will see the change!</pre>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="commit-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Commit changes</h4>
      </div>
      <div class="modal-body">
        <form name="commit_dialog">
            <div class="input-group widest" data-ng-if="!current.commit_dialog.pushing">
                <input id="commit_dialog_message" data-ng-model="current.commit_dialog.message" data-required type="text" class="form-control" placeholder="{{current.commit_dialog.mode}} {{current.document_path}}" />
                <textarea id="commit_dialog_description" class="form-control" data-ng-model="current.commit_dialog.description" rows="5" placeholder="Add an optional extended description ..."></textarea>
            </div>
            <div class="loading-bar progress progress-striped active" data-ng-if="show_loading_bar()">
                <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">Commit pushing...</span>
                </div>
            </div>
            <div data-ng-include src="'/templates/diff.html'" data-ng-if="!current.commit_dialog.pushing && current.commit_dialog.diff" data-ng-init="diff = current.commit_dialog"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-click="do_commit()" data-ng-disabled="current.commit_dialog.pushing || commit_dialog.$invalid">Commit Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="tag-diff-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-ng-if="current.tag_diff_dialog.tag">Diff between {{current.tag_name}} and {{current.tag_diff_dialog.tag}}</h4>
        <h4 class="modal-title" data-ng-if="!current.tag_diff_dialog.tag">Diff</h4>
      </div>
      <div class="modal-body">
        <form name="tag_diff_dialog">
            <div class="input-group widest" data-ng-if="!current.tag_diff_dialog.processing && !current.tag_diff_dialog.diff">
                <input list="project_tags" data-ng-model="current.tag_diff_dialog.tag" data-required type="text" class="form-control" placeholder="Which tag?" data-existed-tag />
                <datalist id="project_tags">
                    <option data-ng-value="tag" data-ng-repeat="tag in existed_tags_without_current()" />
                </datalist>
            </div>
            <div class="progress progress-striped active" data-ng-if="current.tag_diff_dialog.processing">
                <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">Querying...</span>
                </div>
            </div>
            <div data-ng-include src="'/templates/diff.html'" data-ng-if="!current.tag_diff_dialog.processing && current.tag_diff_dialog.diff" data-ng-init="diff = current.tag_diff_dialog"></div>
        </form>
      </div>
      <div class="modal-footer" data-ng-if="!current.tag_diff_dialog.processing && !current.tag_diff_dialog.diff">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-click="do_diff_between_tags()" data-ng-disabled="current.tag_diff_dialog.processing || tag_diff_dialog.$invalid">Diff</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="history-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress progress-striped active" data-ng-if="!current.history_dialog.logs">
            <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">Querying...</span>
            </div>
        </div>
        <div data-ng-repeat="diff in current.history_dialog.logs">
            <div data-ng-include src="'/templates/diff.html'"></div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="key-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">SSH keys</h4>
      </div>
      <div class="modal-body">
        <table data-ng-if="!current.key_dialog.loading" class="widest">
            <tr>
                <td colspan="2" class="text-left">
                    <button type="button" data-ng-click="add_new_key()" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
            <tr data-ng-repeat="key in current.key_dialog.keys">
                <td class="text-left">
                    <div class="key_name"><strong data-ng-bind="key.name"></strong></div>
                    <div class="key_fingerprint" data-ng-bind="key.fingerprint"></div>
                </td>
                <td class="text-center btn-col">
                    <button type="button" data-ng-click="delete_key(key.id)" class="btn btn-sm btn-danger">Revoke</button>
                </td>
            </tr>
            <tr data-ng-if="current.key_dialog.new">
                <td class="text-left">
                    <form name="key_dialog">
                        <input type="text" class="form-control" placeholder="Title" data-ng-model="current.key_dialog.new.name" data-required data-ng-maxlength="250" data-uniq-key-name>
                        <textarea placeholder="Key" class="form-control" data-required data-ng-model="current.key_dialog.new.public_key"></textarea>
                    </form>
                </td>
                <td class="text-center btn-col">
                    <button type="button" data-ng-click="push_new_key()" data-ng-disabled="key_dialog.$invalid" class="btn btn-sm btn-primary">Submit</button>
                </td>
            </tr>
        </table>
        <div class="progress progress-striped active" data-ng-if="current.key_dialog.loading">
            <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
