<div id="current_document" data-ng-if="has_document()" data-auto-anchors data-ng-bind-html="current.document"></div>
<div id="current_document" data-ng-if="!has_document()">
    <h3>To edit wiki for this project, please:</h3>
    <pre>
git clone &quot;<span data-ng-bind="current.project.url"></span>&quot;
git checkout <span data-ng-bind="current.project.branch"></span>
# Edit something in your faviorite editor ...
git add --all .
git commit
git push origin <span data-ng-bind="current.project.branch"></span>
# Refresh current page and you will see the change!</pre>
</div>