<pre id="editor" data-auto-save-settings data-auto-save-value></pre>
<form name="commit_form" class="input-group">
    <label for="comment_message" id="comment_message_label">Commit changes</label>
    <input id="commit_message" data-ng-model="current.commit.message" data-required type="text" class="form-control" placeholder="{{commit_placeholder()}}" />
    <textarea class="form-control" data-ng-model="current.commit.description" id="commit_description" rows="5" placeholder="Add an optional extended description ..."></textarea>
    <div id="commit_buttons_row" class="pull-right">
        <button type="button" class="btn btn-default btn-cancel" data-ng-click="back_to_doc()">Cancel</button>
        <button data-ng-disabled="commit_form.$invalid" type="button" class="btn btn-primary" data-ng-click="do_commit()">Commit Changes</button>
    </div>
</form>
