<div class="modal fade" id="new-project-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Project</h4>
            </div>
            <form name="new_project_form">
                <div class="modal-body">
                    <div data-ng-if="!new_project_dialog.cloning">
                        <div class="input-group new-project-dialog-text-input">
                            <span class="input-group-addon">Project</span>
                            <span data-validation-state>
                                <input type="text" autofocus class="form-control" name="project_name" data-uniq-project data-ng-model="new_project_dialog.name" data-required data-ng-maxlength="30" placeholder="e.g. Bifrost" data-ng-pattern="/^[\w\s\-]+$/" />
                            </span>
                            <span class="input-group-addon">Branch</span>
                            <span data-validation-state>
                                <input type="text" class="form-control" name="branch_name" data-ng-class="{'has-error': new_project_form.branch_name.$invalid, 'has-success': !new_project_form.branch_name.$invalid}" data-ng-model="new_project_dialog.branch" data-required data-ng-maxlength="30" placeholder="e.g. master" />
                            </span>
                        </div>
                        <div class="input-group new-project-dialog-text-input">
                            <span class="input-group-addon">Git</span>
                            <span data-validation-state>
                                <input type="text" class="form-control" name="git_url" data-ng-model="new_project_dialog.url" data-required placeholder="e.g. https://mozy@gerrit.dechocorp.com:29418/bifrost.git" data-ng-maxlength="255" data-ng-pattern="/^((?:http|https):\/\/[^\/:]+(:\d+)?\/\w+|([^@:]+@)?[^\/:@]+:[^:@]+)$/" />
                            </span>
                            <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="create_new_repo()">New Repo</span>
                        </div>
                    </div>
                    <div class="progress progress-striped active" data-ng-if="new_project_dialog.cloning">
                        <div class="progress-bar widest" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">Git cloning...</span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-ng-disabled="new_project_dialog.cloning" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-ng-disabled="new_project_dialog.cloning || new_project_form.$invalid" data-ng-click="submit()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
